.App {
    background: #141218;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    color: #ffff;
    padding-bottom: 36px;
}

.wrapper {
    margin-top: 24px;
    width: 100%;
    align-items: baseline !important;
}

.wrapper-left {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    height: fit-content;
    width: 30% !important;
}

.wrapper-left form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.wrapper-left label {
    margin-top: 24px;
    margin-bottom: 12px;
    padding: 0;
    font-weight: bolder !important;
    font-size: 20px !important;
}

.wrapper-left input, .wrapper-left textarea {
    padding: 6px 14px;
    height: fit-content;
    border-radius: 5px;
    border: #ffff 1px solid;
    background: transparent;
    font-size: 16px !important;
    resize: none;
}

.wrapper-left .extension-input {
    width: 140px;
}

.wrapper-left .extension-item {
    align-items: center;
    background: #3182CE;
    padding: 2px 2px 2px 8px;
    border-radius: 6px;
}

.wrapper-left .requirement-input {
    width: 100%;
    border: 0;
    padding-left: 5px;
    padding-top: 0;
}

.wrapper-left .requirement-form-container {
    width: 100%;
    align-items: start;
    gap: 0 !important;
}

.wrapper-left img {
    width: 20px;
    height: 20px;
    object-fit: fill;
}

.wrapper-left input:focus, .wrapper-left textarea:focus {
    outline: none !important;
}

.wrapper-left .requirement-input.topic {
    font-size: 18px !important;
    font-weight: bolder;
}

.wrapper-left .requirement-input.topic::-webkit-input-placeholder {
    font-weight: bolder;
}

.wrapper-right {
    width: 100% !important;
    margin-left: 0 !important;
}

.github-info {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 28px;
}